@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

*{
    font-family: 'Kalam', cursive;
}

.warna1 {
    background-color: #876445;
}

.warna2{
    background-color: #CA965C;
}

.warna3 {
    background-color: #EEC373;
}

.warna4{
    background-color: #F4DFBA;
}

.banner {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/banner.jpg');
    background-size: cover;
}

.highlighted-kategori {
    height: 250px;
}

.kategori-baju-pria {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/bajupria.jpg');
    background-size: cover;
    background-position: center;
}

.kategori-baju-wanita {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/bajuwanita.jpg');
    background-size: cover;
    background-position: center;
}

.kategori-asesoris {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/asesoris.jpg');
    background-size: cover;
    background-position: center;
}

.no-decoration {
    text-decoration: none;
    color: white;
}

.no-decoration:hover {
    color: #EEC373;
}

.text-harga {
    font-size: 20px;
    color: #CA965C;
}